# dependencies
node_modules

# testing
coverage

# server & web build
dist

# vite
dev-dist

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo

# env files
.env

# turbo
.turbo

# cypress
screenshots
videos
downloads
