# lockfile
pnpm-lock.yaml

# dependencies
node_modules

# testing
coverage

# builds
dist

# vite
dev-dist

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo

# env files
.env
.env.test

# turbo
.turbo

# cypress
screenshots
videos
downloads
